@model DevIO.App.ViewModels.ProdutoViewModel

@{ 
    ViewData["Title"] = "Excluir " + Model.Nome;
}

<h4 style="padding-top: 50px">@ViewData["Title"] </h4>

<h5>Você tem certeza disso?</h5>

<div class="row">
    <div class="col-md-4">
        <img src="~/imagens/@Model.Imagem" alt="@Model.Imagem" style="width: 300px; height: 428px" />
    </div>
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(expression: model => model.FornecedorId)
            </dt>
            <dd>
                @Html.DisplayFor(expression: model => model.Fornecedor.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(expression: model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(expression: model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(expression: model => model.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(expression: model => model.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(expression: model => model.Valor)
            </dt>
            <dd>
                @Model.Valor.ToString(format: "C")
            </dd>
            <dt>
                @Html.DisplayNameFor(expression: model => model.DataCadastro)
            </dt>
            <dd>
                @Html.DisplayFor(expression: model => model.DataCadastro)
            </dd>
            <dt>
                @Html.DisplayNameFor(expression: model => model.Ativo)
            </dt>
            <dd>
                @Html.DisplayFor(expression: model => model.Ativo)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
        </form>
    </div>
</div>